/* Common styles */

body {
    margin-top: 0px;
    padding-top: 0px;
}

main {
   padding-top: 70px;
   padding-left: 20px;
   padding-right: 20px;
}

footer {
    background: darkblue;
    color: white;
    margin-top: 30px;
}

.navbar-dark {
    background: darkblue;
}

/* Media queries */

@media (max-width: 400px) {
    #other-projects {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 401px) {

    #other-projects {
        display: flex;
        justify-content: space-around;
    }

    #project2 {
        padding: 1em;
        width: 50%;
    }
    #project3 {
        padding: 1em;
        width: 50%;
    }

}


