body {
    margin-top: 0px;
    padding-top: 0px;
}

main {
   padding-top: 70px;
   padding-left: 20px;
   padding-right: 20px;
}

footer {
    background: darkblue;
    color: white;
}

/* Media queries */

/* Collapse navbar if max width 480px */

/* Style navbar */

.navbar-dark {
    background: darkblue;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-gap: 5em;
}

#project1 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

#project2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
#project3 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#video-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


